.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--white);
    border-radius: 1rem;
    background-color: var(--black);
}

@media (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.column {
    flex: 1;
}